@model Dashboards_Web.Models.IcmDataModel
@{
    ViewBag.Title = "SD Active Incidents";
}

<style>
    row {
        margin: 0;
        padding: 0;
    }

    .colBackColor {
        color: #fff !important;
        background-color: #607d8b !important;
        /*padding: 6%;*/
        text-align: center;
    }

    .staticText {
        font-size: 16px;
    }

    .dynamicValueText {
        font-weight: bold;
        font-size: 14px;
        color: whitesmoke;
    }

    .customDropDown {
        /*width: 100%;*/
        color: #fff !important;
        background-color: #607d8b !important;
        text-align: center;
        font-size: 18px;
        height: 42px;
        font-weight: bold;
    }

    .rowBorder {
        border: 2px solid #337ab7;
        border-radius: 2px;
        padding: 2px;
    }

    .mainText {
        padding: .25%;
        background-color: #808080;
        font-size: 18px;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .paddingZero {
        padding: 0px;
    }

    .divScroll {
        overflow-y: auto;
        background-color: white;
        max-height: 540px;
        text-align: justify;
    }

    .divScrollTta {
        overflow-y: auto;
        background-color: white;
        max-height: 250px;
        text-align: justify;
    }

    .tblHeading {
        background-color: darkslategray;
        color: whitesmoke;
    }

    .info th {
        background: #607d8b !important;
    }

        .info th a {
            color: white;
            font-weight: bold;
            font-size: medium;
        }

    .webgrid-footer {
        background: #607d8b;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: medium;
    }

    .RED, .REDYELLOW {
        color: red;
        font-weight: bold;
    }

    .GREEN {
        color: green;
        font-weight: bold;
    }

    .ORANGE {
        color: orange;
        font-weight: bold;
    }

    .lightRed {
        background-color: orangered;
    }

    .lightGreen {
        background: lightgreen;
    }

    a {
        text-decoration: none;
    }

    .center {
        z-index: 1000;
        /*margin: 50px auto;*/
        padding: 10px;
        width: 130px;
        /*background-color: White;*/
        border-radius: 10px;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0px 0px -50px;
    }

    .YES {
        color: orange;
    }

    .NO {
        color: green;
    }
</style>
<link href="~/Content/LoadSpin.css" rel="stylesheet" />

@using (Html.BeginForm("SDIncidents", "ICM", FormMethod.Get, new { @name = "Form1" }))
{
    <meta http-equiv="refresh" content="120">
    <div class="container-fluid">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-11" style="margin-left:-10px;">

                    <table class="table table-bordered table-hover" style="text-align:center;">
                        <thead class="info" style="color:white;text-align:center !important;font-size:18px;">
                            <tr>
                                <th style="margin-right:4px">Total : @ViewBag.TotalCount</th>
                                <th>Triage : @ViewBag.TriageCount</th>
                                <th>Assigned : @ViewBag.AsignedCount</th>
                                <th>SEV1 : @ViewBag.SEV1Count</th>
                                <th>SEV2 : @ViewBag.SEV2Count</th>
                                <th>SEV3 : @ViewBag.SEV3Count</th>
                                <th>SEV4 : @ViewBag.SEV4Count</th>
                                <th>90 Days</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                
            </div>
        </div>

        <div class="container-fluid">
            @if (Model.TtaList.Count > 0)
            {
                <div class="row rowBorder">
                    <div class="col-sm-12" style="padding:0;margin:0;">
                        <div class="mainText" id="mainTriage" style="background-color:#808080;">
                            SD ACTIVE TRIAGE QUEUE
                            <div style="font-size:small;color:yellow">SLA : SEV2-15, SEV3-30, SEV4-60 (Minutes)</div>
                        </div>
                        <div class="divScrollTta" id="sdActiveTriageQueue">
                            @{
                                var gridTta = new WebGrid(
                                                    canPage: false,
                                                    fieldNamePrefix: "tta",
                                                    canSort: true,
                                                    ajaxUpdateContainerId: "gridTta"
                                                    );

                                gridTta.Bind(Model.TtaList, autoSortAndPage: false);
                                //gridTta.Pager(WebGridPagerModes.All);

                                @gridTta.GetHtml(htmlAttributes: new { id = "gridTta", name = "grTTA" },
                                                 fillEmptyRows: false,
                                                 tableStyle: "table table-bordered table-hover",
                                                 mode: WebGridPagerModes.All,
                                                 headerStyle: "info",
                                                 footerStyle: "webgrid-footer",
                                                 columns: gridTta.Columns(
                                                 gridTta.Column("IncidentNo", "Incident No", format:@<text><a href="https://portal.microsofticm.com/imp/v3/incidents/details/@item.IncidentNo/home" target="_blank">@item.IncidentNo</a></text>),
//gridTta.Column("Status", "Status"),
gridTta.Column("Severity", "Severity"),
gridTta.Column("Title", "Title", format: @<text>@item.Title.ToString().Substring(0, (item.Title.Length > 80 ? 80 : item.Title.Length))</text>+ "..."),
//gridTta.Column("OwningContactAlias", "Owner"),
//gridTta.Column("CreateDate", "Created Date"),
gridTta.Column("TTA", "TTA", format: item => Html.Raw("<span class=" + item.TTACategory + ">" + item.TTA + "</span>")),
//gridTta.Column("IsCustomer", "Is Customer", format: item => Html.Raw("<span class=" + item.IsCustomer + ">" + item.IsCustomer + "</span>")),
gridTta.Column("TicketAge", "Age"),
gridTta.Column("OwningTeam", "Owning Team")
)
)
                            }

                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div style="height:10px"></div>
                    `
                </div>
            }
            <div style="font-size:small;color:red;text-align:center;"> <marquee direction="right">@ViewBag.KustoReminder</marquee></div>
            <div class="row rowBorder">
                <div class="col-sm-12" style="padding:0;margin:0;">
                    <div class="mainText" id="mainAssign" style="background-color:#808080;">
                        SD ACTIVE ASSIGNED QUEUE
                        <div style="font-size:small;color:yellow">SLA : SEV2-2, SEV3-3, SEV4-6 (Days)</div>
                    </div>
                    <div class="divScroll" id="sdActiveAssignedQueue">
                        @{
                            var gridTte = new WebGrid(
                                                canPage: false,
                                                fieldNamePrefix: "tte",
                                                canSort: true,
                                                ajaxUpdateContainerId: "gridTte"
                                                );

                            gridTte.Bind(Model.TteList, autoSortAndPage: false);
                            //gridTte.Pager(WebGridPagerModes.All);

                            @gridTte.GetHtml(htmlAttributes: new { id = "gridTte" },
                                    fillEmptyRows: false,
                                    tableStyle: "table table-bordered table-hover",
                                    mode: WebGridPagerModes.All,
                                    headerStyle: "info",
                                    footerStyle: "webgrid-footer",
                                    columns: gridTte.Columns(
                                    gridTte.Column("IncidentNo", "Incident No.", format:@<text><a href="https://portal.microsofticm.com/imp/v3/incidents/details/@item.IncidentNo/home" target="_blank">@item.IncidentNo</a></text>, canSort: true),
//gridTte.Column("Status", "Status"),
gridTte.Column("Severity", format: item => Html.Raw("<span" + (item.Severity == 2 ? " class='RED'" : "") + ">" + item.Severity + "</span>")),
gridTte.Column("Title", "Title", format: @<text>@item.Title.ToString().Substring(0, (item.Title.Length > 60 ? 60 : item.Title.Length))</text>+ "..."),
gridTte.Column("OwningContactAlias", "Owner"),
//gridTte.Column("CreateDate", "Created Date"),
gridTte.Column("AcknowledgeDate", "Acknowledge Date"),
gridTte.Column("TTE", "TTE", format: item => Html.Raw("<span class=" + item.TTECategory + ">" + item.TTE + "</span>")),
//gridTte.Column("IsCustomer", "Is Customer", format: item => Html.Raw("<span class=" + item.IsCustomer + ">" + item.IsCustomer + "</span>")),
gridTte.Column("TicketAge", "Age"),
gridTte.Column("OwningTeam", "Owning Team")

)
);
                        }
                    </div>
                </div>
            </div>
            <div class="center">
                <div id="cover-spin"></div>
            </div>
        </div>

    </div>
}
<script type="text/javascript" charset="utf-8">
    $(document).ajaxStart(function () {
        $('#cover-spin').show(0);
    }).ajaxStop(function () {
        //Hide your progressbar here
        $('#cover-spin').hide();
    });
</script>