@model Dashboards_Web.Models.SFBDataModel
@{
    ViewBag.Title = "SFBLibrary";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<style>
    .Myspan {
        margin-right: 4px;
        margin-left: 3px;
        font-size: 16px;
        color: #607d8b;
        font-weight: bold;
    }

    input[type=checkbox] {
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        background-color: #607d8b;
        font-weight: bold;
        border-color: #607d8b;
    }

    .btn-primary, .btn-primary:hover, open > .dropdown-toggle.btn-primary:hover {
        background-color: #607d8b;
        font-weight: bold;
    }
</style>
<script>

    $(document).ready(function () {
        $("#btnModal").click(function () {
            $("#myModal").modal('show');
        });

        $('input[type="checkbox"]').change(function () {
            if ($("#IsFrequentlyUsed").is(":checked") == true) {
                $("#freqUsed").show();
            }
            else {
                $("#freqUsed").hide();
            }
        });

        $("#sbmt").click(function () {
            var category = $("#dropdownCategory :selected").val();
            var track = "";
            if (category == "Access") {
                track = $("#selectedAccess :selected").val();
            }
            else if (category == "Generic" || category == "Dashboard") {
                track = $("#selectedAll :selected").val();
            }
            else if (category == "Training") {
                track = $("#trainingTrack :selected").val();
            }
            else if (category == "Operations") {
                track = $("#selectedOperation :selected").val();
            }

            var freqUsed = "";
            if ($("#IsFrequentlyUsed").is(":checked") == true) {
                freqUsed = $("#dropdownAllFreq :selected").val();
            }

            var modelData = { FriendlyName: $("#FriendlyName").val(), Description: $("#Description").val(), Link: $("#Link").val(), Category: category, Track: track, FrequentlyUsed: freqUsed, IsFrequentlyUsed: $("#IsFrequentlyUsed").is(":checked")  };
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '@(Url.Action("SFBLibraryPost", "SkypeLibrary"))',
                data: JSON.stringify(modelData)
            });
        });
    });

    function ChangeDropDown() {
        if ($("#dropdownCategory :selected").val() == "Access") {
            $("#trainingTrack").hide();
            $("#operationTrack").hide();
            $("#allTrack").hide();
            $("#accessTrack").show();
        }
        else if ($("#dropdownCategory :selected").val() == "Generic" || $("#dropdownCategory :selected").val() == "Dashboard") {
            $("#trainingTrack").hide();
            $("#operationTrack").hide();
            $("#allTrack").show();
            $("#accessTrack").hide();
        }
        else if ($("#dropdownCategory :selected").val() == "Training") {
            $("#trainingTrack").show();
            $("#operationTrack").hide();
            $("#allTrack").hide();
            $("#accessTrack").hide();
        }
        else if ($("#dropdownCategory :selected").val() == "Operations") {
            $("#trainingTrack").hide();
            $("#operationTrack").show();
            $("#allTrack").hide();
            $("#accessTrack").hide();
        }
    }

</script>
<div class="container">

    <button type="button" class="btn btn-warning" data-target="#myModal" id="btnModal" style="background-color:#607d8b;color:white;">
        Add Link
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Links</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Link, new { @class = "form-control", @placeholder = "Link", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Link)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.FriendlyName, new { @class = "form-control", @placeholder = "Friendly Name", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.FriendlyName)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Description", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                        <div class="form-group">
                            Select Category
                            <div>
                                <select id="dropdownCategory" class="form-control" data-style="btn-primary" onchange="ChangeDropDown()">
                                    <option value="Access">Access</option>
                                    <option value="Generic">Generic</option>
                                    <option value="Training">Training</option>
                                    <option value="Operations">Operations</option>
                                    <option value="Dashboard">Dashboard</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            Select Track
                            <div id="trainingTrack" style="display:none">
                                <select id="selectedTraining" class="form-control" data-style="btn-primary">
                                    <option value="Generic">Generic</option>
                                    <option value="Deployment">Deployment</option>
                                    <option value="Patching">Patching</option>
                                    <option value="Imaging">Imaging</option>
                                    <option value="Corp">Corp</option>
                                    <option value="Decommission">Decommission</option>
                                    <option value="Gallatin">Gallatin</option>
                                    <option value="CVM">CVM</option>
                                </select>
                            </div>
                            <div id="operationTrack" style="display:none">
                                <select id="selectedOperation" class="form-control" data-style="btn-primary">
                                    <option value="All Tracks">All Tracks</option>
                                    <option value="Decommission">Decommission</option>
                                    <option value="Patching & Deployment">Patching & Deployment</option>
                                    <option value="Imaging">Imaging</option>
                                    <option value="Usermoves">Usermoves</option>
                                    <option value="SOC - Customer Bug">SOC - Customer Bug</option>
                                    <option value="CVM">CVM</option>
                                    @*<option value="CVM All Tracks">CVM All Tracks</option>*@
                                </select>
                            </div>
                            <div id="accessTrack">
                                <select id="selectedAccess" class="form-control" data-style="btn-primary">
                                    <option value="All Tracks">All Tracks</option>
                                    <option value="SOC - Infra">SOC - Infra</option>
                                    <option value="CVM BGC">CVM BGC</option>
                                </select>
                            </div>
                            <div id="allTrack" style="display:none">
                                <select id="selectedAll" class="form-control" data-style="btn-primary">
                                    <option value="All Tracks">All Tracks</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.CheckBox("IsFrequentlyUsed", Model.IsFrequentlyUsed)
                            Is Frequently Used
                        </div>
                        <div class="form-group">
                            <div id="freqUsed" style="display:none">
                                <select id="dropdownAllFreq" class="form-control" data-style="btn-primary">
                                    @*<option value="All">All</option>*@
                                    <option value="CVM Frequently Used">CVM Frequently Used</option>
                                    <option value="SD Frequently Used">SD Frequently Used</option>
                                    <option value="SOC Frequently Used">SOC Frequently Used</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="button" value="Submit" id="sbmt" class="btn btn-success" style="background-color:#607d8b" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


