@model List<Dashboards_Web.Models.CvmTransferredModel>
@{
    ViewBag.Title = "CvmTransferred";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="~/Content/LoadSpin.css" rel="stylesheet" />
<style>
    .customDropDown {
        color: #fff !important;
        background-color: #607d8b !important;
        text-align: center;
        font-size: 14px;
        height: 35px;
        /*font-weight: bold;*/
    }

    .rowBorder {
        border: 2px solid #337ab7;
        border-radius: 2px;
        padding: 2px;
    }

    .info th {
        background: #607d8b !important;
    }

        .info th a {
            color: white;
            font-weight: bold;
            font-size: medium;
        }

    .info th {
        color: white;
        font-weight: bold;
        font-size: medium;
    }

    .webgrid-footer {
        background: #607d8b;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: medium;
    }

    .divScroll {
        overflow-y: auto;
        background-color: white;
        max-height: 560px;
        text-align: justify;
    }

    .container {
        width: 1180px;
        /*margin-top: 3em;*/
    }

    #accordion .panel {
        border-radius: 0;
        border: 0;
        margin-top: 0px;
    }

    /*#accordion a {
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid #b42b2b;
        text-decoration: none;
    }*/

    #accordion .panel-heading a.collapsed:hover,
    #accordion .panel-heading a.collapsed:focus {
        background-color: #607d8b;
        color: white;
        transition: all 0.2s ease-in;
    }

        #accordion .panel-heading a.collapsed:hover::before,
        #accordion .panel-heading a.collapsed:focus::before {
            color: white;
        }

    #accordion .panel-heading {
        padding: 0;
        border-radius: 0px;
        text-align: center;
    }

        #accordion .panel-heading a:not(.collapsed) {
            color: white;
            background-color: #607d8b;
            transition: all 0.2s ease-in;
        }

        /* Add Indicator fontawesome icon to the left */
        #accordion .panel-heading .accordion-toggle::before {
            font-family: 'FontAwesome';
            content: '\f00d';
            float: left;
            color: white;
            font-weight: lighter;
            transform: rotate(0deg);
            transition: all 0.2s ease-in;
        }

        #accordion .panel-heading .accordion-toggle.collapsed::before {
            color: #444;
            transform: rotate(-135deg);
            transition: all 0.2s ease-in;
        }

    .RED, .REDYELLOW {
        color: red;
        font-weight: bold;
    }

    .GREEN {
        color: green;
        font-weight: bold;
    }

    .ORANGE {
        color: orange;
        font-weight: bold;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#format :selected").val() == "OwningHistory") {
            $("#divDrop").show();
            $("#durOthers").hide();
            $("#durOwningHistory").show();
        }
        else {
            $("#divDrop").hide();
            $("#durOthers").show();
            $("#durOwningHistory").hide();
        }
    });
    function DropDownDaysList() {

        if ($("#format :selected").val() == "OwningHistory") {
            $("#divDrop").show();
            $("#durOthers").hide();
            $("#durOwningHistory").show();
        }
        else {
            $("#divDrop").hide();
            $("#durOthers").show();
            $("#durOwningHistory").hide();
        }
        $("#btnExport").attr("disabled", true);
        //if ($("#format :selected").val() != "All")
            $("#rowDiv").hide();
    }

    $(document).ready(function () {
        var todaysDate = new Date(); // Gets today's date

        // Max date attribute is in "YYYY-MM-DD".  Need to format today's date accordingly

        var year = todaysDate.getFullYear();                        // YYYY
        var minmonth = ("0" + (todaysDate.getMonth() - 1)).slice(-2);  // MM
        var maxmonth = ("0" + (todaysDate.getMonth() + 1)).slice(-2);
        var day = ("0" + todaysDate.getDate()).slice(-2);           // DD
        var minDate = (year + "-" + minmonth + "-" + day);
        var maxDate = (year + "-" + maxmonth + "-" + day);

        $('#fromDate').attr('min', minDate);
        $('#fromDate').attr('max', maxDate);
        $('#toDate').attr('min', minDate);
        $('#toDate').attr('max', maxDate);

        var firstDay = new Date(todaysDate.getFullYear(),
            todaysDate.getMonth(), 1);

        if ('@ViewData["fromDate"].ToString()' !="") {
            document.getElementById("toDate").valueAsDate = new Date('@ViewData["toDate"]');
            document.getElementById("fromDate").valueAsDate = new Date('@ViewData["fromDate"]');
        }
        else {
            document.getElementById("toDate").valueAsDate = new Date();
            document.getElementById("fromDate").valueAsDate = firstDay;
        }

    });

    function formSubmit() {
        if ($("#fromDate").val() <= $("#toDate").val()) {
            document.getElementById("fromDate").innerHTML = $("#fromDate").val();
            document.forms["Form1"].submit();
        }
        else {
            alert("From date should be less than to date. Please choose valid date");
            return;
        }
    }
    $(document).ajaxStart(function () {
        $('#cover-spin').show(0);
    }).ajaxStop(function () {
        //Hide your progressbar here
        $('#cover-spin').hide();
    });
</script>
@using (Html.BeginForm("CvmTransferred", "CVM", FormMethod.Get, new { @name = "Form1" }))
{
<div class="container-fluid">

    <div class="container-fluid" style="padding: 0%;margin-bottom:1%;">
        <div class="row">
            <table style="width:50%;align-content:center">
                <tr>
                    <td>From:</td>
                    <td>
                        <input type="date" id="fromDate" name="fDate" class="form-control" style="width:80%" />
                    </td>
                    <td>To:</td>
                    <td>
                        <input type="date" id="toDate" name="tDate" class="form-control" style="width:80%" />
                    </td>

                    <td>
                        <button type="button" class="btn btn-success" style="background-color:#607d8b" onclick="formSubmit()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </td>

                    @if (Model != null && Model.Count >= 1)
                    {
                        <td><a href="~/CVM/ExportExcel_TransferredData" class="btn btn-success" id="btnExport" style="background-color:#607d8b" title="Export to Excel"><span class="glyphicon glyphicon-save-file"></span></a></td>
                    }
                </tr>

            </table>
        </div>

    </div>
    @if (Model != null && Model.Count > 0)
    {
        <div class="row">
            @*<div class="col-sm-11" style="margin-left:-10px;">*@

            <table class="table table-bordered table-hover" style="text-align:center;">
                <thead class="info" style="color:white;text-align:center !important;font-size:18px;">
                    <tr>
                        <th style="margin-right:4px">Total : @Model.Count()</th>
                        <th>SBV Voice Apps : @Model.Count(a => a.OwningTeam.Equals("SBV Voice Applications"))</th>
                        <th>BV PSTN Calling : @Model.Count(a => a.OwningTeam.Equals("Business Voice 0R Routing"))</th>
                        <th>Business Voice LIS : @Model.Count(a => a.OwningTeam.Equals("Business Voice LIS"))</th>
                    </tr>
                </thead>
            </table>

            @*</div>  *@
        </div>
        <div class="row rowBorder" id="rowDiv">
            <div class="col-sm-12" style="padding:0;margin:0;">

                <div class="divScroll">
                    @{
                        var gridCvm = new WebGrid(
                                            canPage: false,
                                            canSort: true
                                            );

                        gridCvm.Bind(Model.ToList(), autoSortAndPage: false);

                        @gridCvm.GetHtml(htmlAttributes: new { id = "gridTktHistory" },
                                                                   fillEmptyRows: false,
                                                                   tableStyle: "table table-bordered table-hover",
                                                                   mode: WebGridPagerModes.All,
                                                                   headerStyle: "info",
                                                                   footerStyle: "webgrid-footer",
                                                                   columns: gridCvm.Columns(
                                                                   gridCvm.Column("IncidentId", "Incident No", format:@<text><a href="https://portal.microsofticm.com/imp/v3/incidents/details/@item.IncidentId/home" target="_blank">@item.IncidentId</a></text>),
gridCvm.Column("OwningTeam", "Owning Team"),
//gridCvm.Column("TTR", "TTR", canSort: false, format: item => Html.Raw("<span class=" + item.TtrCategory + ">" + item.TTR + "</span>")),
gridCvm.Column("TransferredDate", "Transferred On"),
//gridCvm.Column("TransferredBy", "Transferred By"),
gridCvm.Column("TransferComments", "Transfer Comments", canSort: false)
//gridCvm.Column("Age", "Age"),

)
)
                    }

                </div>
            </div>
        </div>
        <div class="center">
            <div id="cover-spin"></div>
        </div>
    }


    else
    {
        if (Model == null)
        {
            <div style="font-size:medium;color:red;text-align:center;"> <marquee direction="right">No data is available for given dates.</marquee></div>

        }
        else
        {
            <div style="font-size:medium;color:red;text-align:center;"> <marquee direction="right">No data available for given dates </marquee></div>
        }
    }
</div>
}


