@model Dashboards_Web.Models.BvdDataModel

@{
    ViewBag.Title = "BVD Releases";
}
<style>
    row {
        margin: 0;
        padding: 0;
    }

    .colBackColor {
        color: #fff !important;
        background-color: #607d8b !important;
        /*padding: 6%;*/
        text-align: center;
    }

    .staticText {
        font-size: 16px;
    }

    .dynamicValueText {
        font-weight: bold;
        font-size: 14px;
        color: whitesmoke;
    }

    .customDropDown {
        /*width: 100%;*/
        color: #fff !important;
        background-color: #607d8b !important;
        text-align: center;
        font-size: 18px;
        height: 42px;
        font-weight: bold;
    }

    .rowBorder {
        border: 2px solid #337ab7;
        border-radius: 2px;
        padding: 2px;
    }

    .mainText {
        padding: .25%;
        background-color: #808080;
        font-size: 18px;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .paddingZero {
        padding: 0px;
    }

    .divScroll {
        overflow-y: auto;
        background-color: white;
        max-height: 540px;
        text-align: justify;
    }

    .divScrollTta {
        overflow-y: auto;
        background-color: white;
        max-height: 300px;
        text-align: justify;
    }

    .tblHeading {
        background-color: darkslategray;
        color: whitesmoke;
    }

    .info th {
        background: #607d8b !important;
        color: white;
        font-weight: bold;
    }

        .info th a {
            color: white;
            font-weight: bold;
            font-size: medium;
        }

    .webgrid-footer {
        background: #607d8b;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: medium;
    }

    .RED, .REDYELLOW {
        color: red;
        font-weight: bold;
    }

    .GREEN {
        color: green;
        font-weight: bold;
    }

    .ORANGE {
        color: orange;
        font-weight: bold;
    }

    .lightRed {
        background-color: orangered;
    }

    .lightGreen {
        background: lightgreen;
    }

    a {
        text-decoration: none;
    }

    .center {
        z-index: 1000;
        /*margin: 50px auto;*/
        padding: 10px;
        width: 130px;
        /*background-color: White;*/
        border-radius: 10px;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0px 0px -50px;
    }

    .YES {
        color: orange;
    }

    .NO {
        color: green;
    }
</style>
<link href="~/Content/LoadSpin.css" rel="stylesheet" />
@using (Html.BeginForm("BVDReleases", "Bvd", FormMethod.Get, new { @name = "Form1", id = "form1" }))
{
    <div class="container-fluid">

        <div class="container-fluid">
            @if (Model.PipelineModelData.Count > 0)
            {
                <div class="row rowBorder">
                    <div class="col-sm-12" style="padding:0;margin:0;">
                        <div class="mainText" id="mainTriage" style="background-color:#808080;">
                            BVD Pipeline Data
                            @*<div style="font-size:small;color:yellow">SLA : SEV2-15, SEV3-30, SEV4-60 (Minutes)</div>*@
                        </div>
                        <div class="divScrollTta" id="ppDiv">
                            @{
                                var gridPpd = new WebGrid(
                                                    canPage: false,
                                                    fieldNamePrefix: "pp",
                                                    canSort: false,
                                                    ajaxUpdateContainerId: "gridPpd"
                                                    );

                                gridPpd.Bind(Model.PipelineModelData, autoSortAndPage: false);
                                //gridTta.Pager(WebGridPagerModes.All);

                                @gridPpd.GetHtml(htmlAttributes: new { id = "gridPpd", name = "grPp" },
                      fillEmptyRows: false,
                      tableStyle: "table table-bordered table-hover",
                      mode: WebGridPagerModes.All,
                      headerStyle: "info",
                      footerStyle: "webgrid-footer",
                      columns: gridPpd.Columns(
gridPpd.Column("ServiceName", "Role"),
gridPpd.Column("BuildNumber", "Build No.", format:@<text><a href="https://skype.visualstudio.com/SBS/_build/results?buildId=@item.BuildId&view=results" target="_blank">@item.BuildNumber</a></text>),
gridPpd.Column("PipelineName", "Pipeline Name", format:@<text> @Html.ActionLink(linkText: (string)@item.PipelineName, actionName: "BVDReleases", controllerName: "Bvd", routeValues: new { id = item.DefinitionId }, htmlAttributes: null) </text>),
gridPpd.Column("result", "Status"),
gridPpd.Column("requestedBy", "Requested By"),// format: @<text>@item.Title.ToString().Substring(0, (item.Title.Length > 80 ? 80 : item.Title.Length))</text>+ "..."),
//gridPpd.Column("LastChangedBy", "Last Changed By"), //format: item => Html.Raw("<span class=" + item.TTACategory + ">" + item.TTA + "</span>")),
//gridPpd.Column("LastChangedDate", "Last Updated On"),
gridPpd.Column("finishTime", "Completed On")
//gridPpd.Column("Path", "Path")
)
)
                            }

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div style="height:10px"></div>
                    `
                </div>
            }

            @if (Model.ReleaseModelData != null && Model.ReleaseModelData.Count > 0)
            {
                <div class="row rowBorder">
                    <div class="col-sm-12" style="padding:0;margin:0;">
                        <div class="mainText" id="mainTriage" style="background-color:#808080;">
                            BVD Release Details - @ViewBag.Name
                        </div>
                        <div class="divScrollTta" id="rlsDiv">
                            @{
                                var gridRls = new WebGrid(
                                                    canPage: false,
                                                    fieldNamePrefix: "rls",
                                                    canSort: false,
                                                    ajaxUpdateContainerId: "gridRls"
                                                    );

                                gridRls.Bind(Model.ReleaseModelData, autoSortAndPage: false);
                                //gridTta.Pager(WebGridPagerModes.All);

                                @gridRls.GetHtml(htmlAttributes: new { id = "gridRls", name = "grRls" },
                                                              fillEmptyRows: false,
                                                              tableStyle: "table table-bordered table-hover",
                                                              mode: WebGridPagerModes.All,
                                                              headerStyle: "info",
                                                              footerStyle: "webgrid-footer",
                                                              columns: gridRls.Columns(
                 gridRls.Column("Name", "Release Name", format:@<text><a href="https://skype.visualstudio.com/SBS/_release?definitionId=@item.ReleaseDefId&view=mine&_a=releases" target="_blank">@item.Name</a></text>),
gridRls.Column("ReleaseId", "Release Def Id.", format:@<text><a href="https://skype.visualstudio.com/SBS/_releaseProgress?_a=release-pipeline-progress&releaseId=@item.ReleaseId" target="_blank">@item.ReleaseId</a></text>),
gridRls.Column("DeploymentStatus", "Status"),
gridRls.Column("RequestedBy", "Requested By"),
gridRls.Column("CreatedOn", "Queued On"),
gridRls.Column("CompletedOn", "Completed On")
)
)
                            }

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div style="height:10px"></div>
                    `
                </div>
            }
            else
            {
                <div style="font-size:medium;color:red;text-align:center;"> <marquee direction="right">No data exist</marquee></div>
            }
            <div class="center">
                <div id="cover-spin"></div>
            </div>
        </div>

    </div>
}
<script type="text/javascript" charset="utf-8">
    $(document).ajaxStart(function () {
        $('#cover-spin').show(0);
    }).ajaxStop(function () {
        //Hide your progressbar here
        $('#cover-spin').hide();
    });
</script>
